/* * {
  border: 1px solid gray;
} */

#btnAdd:hover {
  cursor: pointer;
}
#btnAdd {
  background-color: aqua;
  width: 12rem;
  height: 3rem;
  border-radius: 3%;
  margin-left: 1.5rem;
  font-size: 25px;
  color: crimson;
}

.delete:hover {
  cursor: pointer;
}

.favorite:hover {
  cursor: pointer;
}

.title {
  color: chocolate;
  background-color: cadetblue;
  text-align: center;
  height: 5rem;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

#addNewTask {
  border: 1px solid black;
  height: 50px;
  width: 70%;
  font-size: 20px;
}

#favoriteBtn {
  color: red;
  float: right;
}

#deleteBtn {
  color: red;
  float: right;
}

.listDeco {
  border: 1px solid black;
  padding: 2rem;
  font-size: 18px;
}

/**/
